<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.commonserver.mapper.SensitiveWordMapper">

    <!-- 动态更新敏感词，只更新非 null 且非空的字段 -->
    <update id="update" parameterType="com.wang.pojo.entity.SensitiveWord">
        UPDATE sensitive_word
        <set>
            <if test="word != null and word != ''">
                word = #{word},
            </if>
            <if test="category != null">
                category = #{category},
            </if>
            <if test="level != null">
                level = #{level},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>