<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.manage.mapper.CharacterAbilityMapper">


    <insert id="insertBatch" parameterType="list">
        insert into character_ability (character_id,ability, ability_level, remark)
        values
        <foreach collection="list" item="it" separator=",">
             (#{it.characterId},#{it.ability}, #{it.abilityLevel}, #{it.remark})
        </foreach>
    </insert>
</mapper>
