<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.manage.mapper.NovelCharacterMapper">


    <insert id="insertAndGetId" useGeneratedKeys="true" keyProperty="id">
        insert into novel_character (name, category, stage, remark, novel_id, url)
        values (#{name}, #{category}, #{stage}, #{remark}, #{novelId}, #{url})
    </insert>
</mapper>
