<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.novel.mapper.NovelCategoryMapper">

    <!-- 动态更新小说分类，只更新非 null 且非空的字段 -->
    <update id="updateSelective" parameterType="com.wang.pojo.entity.NovelCategory">
        UPDATE novel_category
        <set>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="category != null">
                category = #{category},
            </if>
            <if test="isHot != null">
                is_hot = #{isHot},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>