<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.visitor.mapper.VisitorMapper">

    <!-- 动态更新访客信息，只更新非 null 且非空的字段 -->
    <update id="update" parameterType="com.wang.pojo.entity.Visitor">
        UPDATE visitor
        <set>
            <!-- String类型：判断非null且非空字符串 -->
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="account != null and account != ''">
                account = #{account},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar},
            </if>
            <!-- Integer类型：vipLevel为VIP级别，需大于等于0才更新 -->
            <if test="vipLevel != null and vipLevel >= 0">
                vip_level = #{vipLevel},
            </if>
            <!-- 时间类型：非null即可 -->
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>